<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
	</head>
	<body>
		<h1>MakeIt Labs 1337 iNv3nT0rY sYsT3m</h1>
		  
		<h3>This is the MakeIt Labs Inventory System - Alpha Edition!</h3>
		<p>Items in the lab are tagged with a QR code, which is a link with the format "http://inv.makeitlabs.com/x", where x is any integer number.</p>
		<p>Each item it uniquely identified by this number. The link currently leads to an inventory page on this site, which is automatically created from the inventory database</p>
		<p>The system is acknowledged as crude, with ten million possible improvements. Add requests on the wiki.</p>
		
		 <br><a href="/createitem">Create a New Item</a>
		 <br><a href="/listitems">List All items</a>
		 <br><a href="/deleteitem">Delete an Item</a>
		 <br>
		 <br>
	<body>
</html>